# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints

# VSCode / IDE
.vscode/
.idea/

# Local database
risk.db

# Environment variables
.env

# Streamlit
.streamlit/
